.sc-container{
    display: block;
    text-align: center;
    border: 1px solid gray;
    width: 85%;
    margin: 0 auto;

}
 #left,#update-left{
    width: 100%;
    margin-top: 3%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
}
#right,#update-right{
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 3%;
}
.sc-container h5, .crs-mid-update h5{
    font-size: 20px;
    font-weight: 600; 
}
.crs-left,.update-crs-left{
   display:flex;
   margin-left: 100px;

}
.crs-left select, .update-crs-left select{
    width: 200px;
    margin: 0px 20px;
    border: 1px solid gray;
    outline: none;
    border-radius: 3px;
}
.crs-left input[type="radio"],.update-crs-left input[type="radio"]{
    margin: 0 auto;
    text-align: center;
    margin-left: 20px;
}
.crs-right,.update-crs-right{
    display: flex;
    margin-left: 100px;
} 
.crs-right select, .update-crs-right select{
    width: 200px;
    margin: 0px 20px;
    border: 1px solid gray;
    outline: none;
    border-radius: 3px;
}
.crs-right input[type="datetime-local"],.update-crs-right input[type="datetime-local"]{
    width: 200px;
    margin: 0px 20px;
    border: 1px solid gray;
    outline: none;
    border-radius: 3px;
    text-align: center;
}
.crs-mid{
    margin-top: 5%;
}

.crs-mid input[type="text"]{
    width: 35%;
    border: none;
    border-bottom: 1.5px solid grey;
    background: rgba(211, 211, 211, 0.685);
    color: blue;
    outline: none;
}
.sc-btn,.un-btn{
    margin-top: 3.5%;
    padding: 5px 20px ;
    border-radius: 8px;
    background: rgba(10, 226, 107, 0.8);
    color: rgb(3, 17, 219);
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3%;

}

/* UPDATE NOTES SECTION  */

.un-container{
    display: block;
    text-align: center;
    border: 1px solid gray;
    width: 85%;
    margin: 0 auto;

}
#mid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.update-crs input[type="text"]{
    width: 35%;
    border: none;
    border-bottom: 1.5px solid grey;
    background: rgba(211, 211, 211, 0.685);
    color: blue;
    outline: none;
}
#update-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5%;
    margin-bottom: 2.5%;
}
.update-crs-mid{
    display: flex;
    font-size: 12px;
    
}
.update-crs-mid h5{
    font-size: 15px;
}
.update-crs-mid input[type="file"]{
    margin-left: 20px;
}